<ion-content>
  <div class="addItemsForm">
    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label position="floating">Book name: </ion-label>
        <ion-input placeholder="Enter text" type="text" [(ngModel)]="todo.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Author name: </ion-label>
        <ion-input placeholder="Enter text" type="text" [(ngModel)]="todo.author" name="author"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">description: </ion-label>
        <ion-input placeholder="Enter text" type="text" [(ngModel)]="todo.description" name="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Price: </ion-label>
        <ion-input placeholder="Enter text" type="text" [(ngModel)]="todo.price" name="price"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Url: </ion-label>
        <ion-textarea [(ngModel)]="todo.url" name="url"></ion-textarea>
      </ion-item>
      <ion-button ion-button type="submit" block>Add Todo</ion-button>
    </form>
  </div>


</ion-content>