<ion-content [fullscreen]="true">

  <div class="container">
    <div class="cardContainer">
      <ion-card class="card" *ngFor="let carditems of book">
        <img alt="Think and grow rich" src="https://vlebazaar.in/image/cache/catalog/think%20and%20grow-550x550.png" />
        <ion-card-header>
          <ion-card-title>{{carditems.bookname}}</ion-card-title>
          <ion-card-subtitle>{{carditems.bookauthor}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <span>{{carditems.bookdesc}}</span>
          <p style="font-weight:bold;"> &#x20B9; {{carditems.bookprice}}</p>
        </ion-card-content>
        <ion-button color="success" fill="outline" (click)="editItems(carditems)">Edit</ion-button>
        <ion-button color="danger" fill="outline" (click)="deleteItems(carditems.bookid)">Delete</ion-button>
      </ion-card>
    </div>
    <div class="addform">
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="additemspage()"  mini translucent>
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>


  </div>
</ion-content>

<router-outlet></router-outlet>
<!-- ngFor=let carditems of bookdata  -->