.container{
  border: 1px solid red;
  padding: 1em;
}
/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}
.cardContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  border: 1px solid black;

}
.card{
  width:30em;

}