.pcontainer{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100%;
    
}
.header{
    margin-top: 30px;
    text-align: center;
}
.card-container{
    /* height:700vh; */
    height: 800px;
    width: 600px;
    display: flex;
    justify-content: center;

    align-items:center;
    overflow: hidden;
    background-color: rgb(227, 236, 236);
    border-radius: 10px;
    
    

}

.btn{
    height: 40px;
    width: 100px;
    text-align: center;
    background-color: rgb(16, 30, 55);
    color: rgb(239, 243, 247);
    border-radius: 5px;
    margin-left: 30%;
    font-size: large;
}